*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #B7B89F;
}
#h1{
    height: 50px;
    color: black;
    background-color: #777C6D;
}
a{
    margin-right: 100px;
    color: black;
}
#h2{
    height: 60px;
}
#h3{
    height: 80px;
    font-size: 50px;
    margin-left: 100px;
    color: black;
}
#h4{
    color: black;
    font-size: 50px;
    margin-left: 100px;
    padding: 10px;
}
#h5{
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
#h6{
    border-radius: 50px;
    position: relative;
    left: 900px;
    margin: 10px;

    

}
